In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
Problems: 
1. Plots not showing up 
2. Not sure how to handle text data such as Car_Make. Do I build dummy value and then what to do? 
3. How do i handle location data? 
4. How can I use the date data? They are not in YEAR-MONTH-DATE format 
5. I'm not Python savvy at all, what will be the minimal project I can produce to pass the course? Ploting and analysis?

In [3]:

df = pd.read_csv('../ga-ds-jenny/data/cars.csv')

In [4]:
df.head()

,Listing_Date,Replied_Date,Listing_Ask_Price_USD,Location_L1,Location_L2,Location_L3,Location_L4,Category_L1,Category_L2,Category_L3,Listing_Title,Proxy,Car_Make,Car_Model,Car_Body_Type,Car_Year,Car_Colour,Car_FuelType,Reply_Sender_Nickname
0,11/24/17,11/25/17,1402.13,South Africa,Gauteng,East Rand,Brakpan,Automotive Vehicles,Cars & Bakkies,NaN,"""Toyota 1200 bakkie""",Organic,toyota,othrmdl,1,1980,white,Petrol,buubaaye1982
1,2/14/18,2/16/18,7934.88,South Africa,KwaZulu-Natal,Durban City,Chatsworth,Automotive Vehicles,Cars & Bakkies,NaN,"""2017 Hyundai i10 Hatchback""",Organic,hyundai,i10,htchbck,2017,gray,Petrol,nashensaudi
2,2/4/18,2/14/18,2905.00,South Africa,Gauteng,East Rand,Bedfordview,Automotive Vehicles,Cars & Bakkies,NaN,"""Nissen Micra 2005""",Organic,nissan,micra,othrbdytyp,2005,white,Petrol,Lucas
3,12/8/17,12/8/17,0.00,South Africa,KwaZulu-Natal,West Suburbs,Waterfall,Automotive Vehicles,Cars & Bakkies,NaN,"""1.9TDI Sportline polo for sale or swop """,Organic,volkwagen,polo,htchbck,2005,other,Diesel,paulmoodley7
4,12/31/17,12/31/17,3473.32,South Africa,Western Cape,Northern Suburbs,Kuils River,Automotive Vehicles,Cars & Bakkies,NaN,"""Vw citi golf tenaciti 2008 model 1.4i""",Organic,volkwagen,citi,htchbck,2008,red,Petrol,Gumtree user

In [5]:
df['Car_Year'].plot(y="Listing_Ask_Price_USD")

In [6]:
a=df.Car_Colour
b=df.Listing_Ask_Price_USD
plt.scatter(a,b)
plt.xlable('Car_Colour')
plt.ylable('Listing_Ask_Price_USD')

ValueError: could not convert string to float: gold

AttributeError: 'DataFrame' object has no attribute 'value'