In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
primary = pd.read_csv('primary_results.csv')

In [7]:
primary.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078

In [8]:
county = pd.read_csv('county_facts.csv')

In [15]:
county.head()

,fips,area_name,state_abbreviation,PST045214,PST040210,PST120214,POP010210,AGE135214,AGE295214,AGE775214,...,SBO415207,SBO015207,MAN450207,WTN220207,RTN130207,RTN131207,AFN120207,BPS030214,LND110210,POP060210
0,0,United States,NaN,318857056,308758105,3.3,308745538,6.2,23.1,14.5,...,8.3,28.8,5319456312,4174286516,3917663456,12990,613795732,1046363,3531905.43,87.4
1,1000,Alabama,NaN,4849377,4780127,1.4,4779736,6.1,22.8,15.3,...,1.2,28.1,112858843,52252752,57344851,12364,6426342,13369,50645.33,94.4
2,1001,Autauga County,AL,55395,54571,1.5,54571,6.0,25.2,13.8,...,0.7,31.7,0,0,598175,12003,88157,131,594.44,91.8
3,1003,Baldwin County,AL,200111,182265,9.8,182265,5.6,22.2,18.7,...,1.3,27.3,1410273,0,2966489,17166,436955,1384,1589.78,114.6
4,1005,Barbour County,AL,26887,27457,-2.1,27457,5.7,21.2,16.5,...,0.0,27.0,0,0,188337,6334,0,8,884.88,31.0

In [11]:
county.info

<bound method DataFrame.info of        fips           area_name state_abbreviation  PST045214  PST040210  \
0         0       United States                NaN  318857056  308758105
1      1000             Alabama                NaN    4849377    4780127
2      1001      Autauga County                 AL      55395      54571
3      1003      Baldwin County                 AL     200111     182265
4      1005      Barbour County                 AL      26887      27457
5      1007         Bibb County                 AL      22506      22919
6      1009       Blount County                 AL      57719      57322
7      1011      Bullock County                 AL      10764      10915
8      1013       Butler County                 AL      20296      20946
9      1015      Calhoun County                 AL     115916     118586
10     1017     Chambers County                 AL      34076      34170
11     1019     Cherokee County                 AL      26037      25986
12     1021      Chilton County                 AL      43931      43631
13     1023      Choctaw County                 AL      13323      13858
14     1025       Clarke County                 AL      24945      25840
15     1027         Clay County                 AL      13552      13932
16     1029     Cleburne County                 AL      15080      14972
17     1031       Coffee County                 AL      50909      49948
18     1033      Colbert County                 AL      54543      54428
19     1035      Conecuh County                 AL      12670      13228
20     1037        Coosa County                 AL      10886      11758
21     1039    Covington County                 AL      37914      37765
22     1041     Crenshaw County                 AL      13977      13906
23     1043      Cullman County                 AL      81289      80410
24     1045         Dale County                 AL      49484      50251
25     1047       Dallas County                 AL      41711      43820
26     1049       DeKalb County                 AL      71065      71115
27     1051       Elmore County                 AL      80977      79296
28     1053     Escambia County                 AL      37733      38319
29     1055       Etowah County                 AL     103531     104427
...     ...                 ...                ...        ...        ...
3165  55131   Washington County                 WI     133251     131885
3166  55133     Waukesha County                 WI     395118     389938
3167  55135      Waupaca County                 WI      52066      52410
3168  55137     Waushara County                 WI      24178      24496
3169  55139    Winnebago County                 WI     169511     166994
3170  55141         Wood County                 WI      73608      74749
3171  56000             Wyoming                NaN     584153     563767
3172  56001       Albany County                 WY      37811      36299
3173  56003     Big Horn County                 WY      11930      11668
3174  56005     Campbell County                 WY      48320      46133
3175  56007       Carbon County                 WY      15854      15885
3176  56009     Converse County                 WY      14097      13833
3177  56011        Crook County                 WY       7248       7083
3178  56013      Fremont County                 WY      40703      40123
3179  56015       Goshen County                 WY      13514      13247
3180  56017  Hot Springs County                 WY       4816       4812
3181  56019      Johnson County                 WY       8573       8569
3182  56021      Laramie County                 WY      96389      91881
3183  56023      Lincoln County                 WY      18567      18106
3184  56025      Natrona County                 WY      81624      75450
3185  56027     Niobrara County                 WY       2463       2484
3186  56029         Park County                 WY      28989      28205
3187  56031       Platte County                 WY       8799       8667
3188  56033     Sheridan County                 WY      30032      29116
3189  56035     Sublette County                 WY      10057      10247
3190  56037   Sweetwater County                 WY      45010      43806
3191  56039        Teton County                 WY      22930      21294
3192  56041        Uinta County                 WY      20904      21118
3193  56043     Washakie County                 WY       8322       8533
3194  56045       Weston County                 WY       7201       7208

      PST120214  POP010210  AGE135214  AGE295214  AGE775214    ...      \
0           3.3  308745538        6.2       23.1       14.5    ...
1           1.4    4779736        6.1       22.8       15.3    ...
2           1.5      54571        6.0       25.2       13.8    ...
3           9.8     182265        5.6       22.2       18.7    ...
4          -2.1      27457        5.7       21.2       16.5    ...
5          -1.8      22915        5.3       21.0       14.8    ...
6           0.7      57322        6.1       23.6       17.0    ...
7          -1.4      10914        6.3       21.4       14.9    ...
8          -3.1      20947        6.1       23.6       18.0    ...
9          -2.3     118572        5.7       22.2       16.0    ...
10         -0.3      34215        5.9       21.4       18.3    ...
11          0.2      25989        4.8       20.4       20.9    ...
12          0.7      43643        6.4       24.2       15.2    ...
13         -3.9      13859        4.9       20.6       20.8    ...
14         -3.5      25833        5.6       22.6       18.0    ...
15         -2.7      13932        5.3       21.6       19.4    ...
16          0.7      14972        5.7       23.3       18.4    ...
17          1.9      49948        6.1       23.7       15.9    ...
18          0.2      54428        5.7       21.7       18.5    ...
19         -4.2      13228        5.5       21.4       20.4    ...
20         -7.4      11539        4.8       18.3       18.5    ...
21          0.4      37765        5.9       22.1       19.8    ...
22          0.5      13906        6.1       22.7       18.0    ...
23          1.1      80406        5.9       22.5       17.6    ...
24         -1.5      50251        6.3       23.6       15.4    ...
25         -4.8      43820        6.7       25.2       15.6    ...
26         -0.1      71109        6.2       24.7       15.7    ...
27          2.1      79303        5.9       23.0       14.0    ...
28         -1.5      38319        6.1       22.0       16.7    ...
29         -0.9     104430        5.7       22.1       17.3    ...
...         ...        ...        ...        ...        ...    ...
3165        1.0     131887        5.3       23.0       15.7    ...
3166        1.3     389891        5.1       22.4       16.5    ...
3167       -0.7      52410        5.2       21.2       19.5    ...
3168       -1.3      24496        4.8       18.7       22.5    ...
3169        1.5     166994        5.6       20.8       14.7    ...
3170       -1.5      74749        5.7       21.9       18.6    ...
3171        3.6     563626        6.5       23.7       14.0    ...
3172        4.2      36299        5.2       16.5        9.8    ...
3173        2.2      11668        6.5       25.3       19.2    ...
3174        4.7      46133        8.0       28.0        7.1    ...
3175       -0.2      15885        6.2       23.9       13.8    ...
3176        1.9      13833        6.9       24.7       14.1    ...
3177        2.3       7083        6.6       23.5       18.0    ...
3178        1.4      40123        7.5       25.5       16.2    ...
3179        2.0      13249        5.6       20.1       20.5    ...
3180        0.1       4812        4.4       20.8       23.6    ...
3181        0.0       8569        5.8       22.0       20.6    ...
3182        4.9      91738        6.5       23.5       14.3    ...
3183        2.5      18106        6.6       27.0       14.8    ...
3184        8.2      75450        6.8       23.9       12.8    ...
3185       -0.8       2484        4.7       16.6       21.2    ...
3186        2.8      28205        5.5       20.5       20.1    ...
3187        1.5       8667        4.9       20.4       22.7    ...
3188        3.1      29116        5.6       21.6       18.3    ...
3189       -1.9      10247        5.8       24.0       12.6    ...
3190        2.7      43806        7.3       27.0        9.5    ...
3191        7.7      21294        5.7       19.1       12.2    ...
3192       -1.0      21118        7.6       29.8       11.0    ...
3193       -2.5       8533        5.5       23.9       20.1    ...
3194       -0.1       7208        6.5       21.6       18.1    ...

      SBO415207  SBO015207   MAN450207   WTN220207   RTN130207  RTN131207  \
0           8.3       28.8  5319456312  4174286516  3917663456      12990
1           1.2       28.1   112858843    52252752    57344851      12364
2           0.7       31.7           0           0      598175      12003
3           1.3       27.3     1410273           0     2966489      17166
4           0.0       27.0           0           0      188337       6334
5           0.0        0.0           0           0      124707       5804
6           0.0       23.2      341544           0      319700       5622
7           0.0       38.8           0           0       43810       3995
8           0.0        0.0      399132       56712      229277      11326
9           0.5       24.7     2679991           0     1542981      13678
10          0.0       29.3      667283           0      264650       7620
11          0.0       14.5      307439       62293      186321       7613
12          0.0        0.0           0      155139      359910       8496
13          0.0       44.1           0       52904       84633       5969
14          0.0       28.6      571454       85803      344311      13034
15          0.0        0.0      330878           0       70558       5123
16          0.0       17.7           0        5888      133407       9080
17          0.7       29.3      613758      131594      639623      13665
18          0.0       22.8     2083166      351388      821284      15040
19          0.0       23.0      183544       76736       71232       5430
20          0.0        0.0       89585       31647       20531       1904
21          0.0        0.0      561168      338692      424873      11544
22          0.0       30.2      270809      131874       75456       5491
23          0.0       23.9     1393437           0      867058      10757
24          0.0        0.0      114991       69341      332503       6889
25          0.0       28.8     1174763           0      437359      10223
26          0.0       25.8     1831626           0      635185       9303
27          0.0       28.3      766344      104885      618313       7982
28          0.0       21.3      665336       93125      379587      10089
29          0.6       25.7     1252962      518424     1114841      10801
...         ...        ...         ...         ...         ...        ...
3165        0.4       19.9     3393434     2800492     1759993      13729
3166        1.0       24.7    15663482     6882092     5955006      15712
3167        0.8       24.6     2133603       86158      516629       9929
3168        0.0       23.9      111250       49841      203004       8226
3169        0.8       23.4     9198861     1109192     1796479      11126
3170        0.0       25.3     2562632      893219     1002909      13585
3171        2.8       25.5     8834810     6352890     8957553      17114
3172        3.9       32.2           0      113498      468773      14433
3173        0.0       30.3           0           0       71008       6242
3174        2.1       28.2      262454      917314      775117      19157
3175        0.0       14.7           0       51494      295340      19182
3176        2.6       26.6           0           0      134349      10436
3177        0.0       16.8           0       14112       56351       8842
3178        2.4       22.3           0       76180      558410      14944
3179        0.0       23.8      147899       52428      116123       9614
3180        0.0       28.2           0           0       38266       8502
3181        0.0        0.0           0           0       71779       8868
3182        4.7       29.8     2420198      628089     1720451      19866
3183        0.0       21.2           0       26778      221712      13705
3184        2.0       24.0     1230635     2889434     1377032      19174
3185        0.0        0.0           0           0       19649       8408
3186        1.8       22.5       62727      155545      388380      14271
3187        0.0       33.0           0       34092       93405      11163
3188        0.0       21.7           0           0      478180      17110
3189        0.0       17.3           0           0       82792      10563
3190        3.8       27.2           0      437493      898189      22843
3191        3.3       25.3           0           0      515644      25688
3192        2.2       15.9           0      159375      413983      20626
3193        0.0       26.9           0       12128       98308      12596
3194        0.0       29.3           0       11540       64312       9395

      AFN120207  BPS030214   LND110210  POP060210
0     613795732    1046363  3531905.43       87.4
1       6426342      13369    50645.33       94.4
2         88157        131      594.44       91.8
3        436955       1384     1589.78      114.6
4             0          8      884.88       31.0
5         10757         19      622.58       36.8
6         20941          3      644.78       88.9
7          3670          1      622.81       17.5
8         28427          2      776.83       27.0
9        186533        114      605.87      195.7
10        23237          8      596.53       57.4
11        13948          2      553.70       46.9
12        34073         78      692.85       63.0
13        11345          0      913.50       15.2
14        23596         11     1238.47       20.9
15         4352          0      603.96       23.1
16         4134          1      560.10       26.7
17        50080         58      678.97       73.6
18        61935        143      592.62       91.8
19         8667          3      850.16       15.6
20          575          0      650.93       17.7
21        30271          8     1030.46       36.6
22         5640          2      608.84       22.8
23       102291         77      734.84      109.4
24        37229         17      561.15       89.6
25        33708         17      978.70       44.8
26        67915         31      777.09       91.5
27        47884        259      618.49      128.2
28        31909         26      945.08       40.5
29       137966         79      534.99      195.2
...         ...        ...         ...        ...
3165     152903        337      430.70      306.2
3166     616641       1020      549.57      709.4
3167      55597         88      747.71       70.1
3168      25080         54      626.15       39.1
3169     212069        511      434.49      384.3
3170      84291        236      793.12       94.2
3171    1469008       1901    97093.14        5.8
3172      65787         99     4273.84        8.5
3173       5611         13     3137.10        3.7
3174      89245        163     4802.71        9.6
3175      42949         31     7897.58        2.0
3176      20947         43     4254.88        3.3
3177       6135          5     2854.41        2.5
3178      66975         18     9183.81        4.4
3179      11779          1     2225.39        6.0
3180      10368          0     2004.09        2.4
3181      20749         12     4154.15        2.1
3182     173722        403     2685.91       34.2
3183      21115         68     4076.13        4.4
3184     167974        330     5340.35       14.1
3185       3071          1     2626.04        0.9
3186     132951        131     6942.08        4.1
3187      12103         22     2084.21        4.2
3188      66787        117     2523.99       11.5
3189      19746         27     4886.54        2.1
3190     150439        227    10426.65        4.2
3191     327363        145     3995.38        5.3
3192      35497         40     2081.26       10.1
3193      10175          4     2238.55        3.8
3194       7520          1     2398.09        3.0

[3195 rows x 54 columns]>

In [12]:
county_dict = pd.read_csv('county_facts_dictionary.csv')

In [14]:
county_dict.head()

  column_name                                        description
0   PST045214                          Population, 2014 estimate
1   PST040210          Population, 2010 (April 1) estimates base
2   PST120214  Population, percent change - April 1, 2010 to ...
3   POP010210                                   Population, 2010
4   AGE135214               Persons under 5 years, percent, 2014

In [16]:
df = pd.merge(primary, county, how='left', on='fips')

In [17]:
df.head()

,state,state_abbreviation_x,county,fips,party,candidate,votes,fraction_votes,area_name,state_abbreviation_y,...,SBO415207,SBO015207,MAN450207,WTN220207,RTN130207,RTN131207,AFN120207,BPS030214,LND110210,POP060210
0,Alabama,AL,Autauga,1001,Democrat,Bernie Sanders,544,0.182,Autauga County,AL,...,0.7,31.7,0.0,0.0,598175.0,12003.0,88157.0,131.0,594.44,91.8
1,Alabama,AL,Autauga,1001,Democrat,Hillary Clinton,2387,0.800,Autauga County,AL,...,0.7,31.7,0.0,0.0,598175.0,12003.0,88157.0,131.0,594.44,91.8
2,Alabama,AL,Baldwin,1003,Democrat,Bernie Sanders,2694,0.329,Baldwin County,AL,...,1.3,27.3,1410273.0,0.0,2966489.0,17166.0,436955.0,1384.0,1589.78,114.6
3,Alabama,AL,Baldwin,1003,Democrat,Hillary Clinton,5290,0.647,Baldwin County,AL,...,1.3,27.3,1410273.0,0.0,2966489.0,17166.0,436955.0,1384.0,1589.78,114.6
4,Alabama,AL,Barbour,1005,Democrat,Bernie Sanders,222,0.078,Barbour County,AL,...,0.0,27.0,0.0,0.0,188337.0,6334.0,0.0,8.0,884.88,31.0

In [21]:
df.drop(labels='state_abbreviation_y', axis=1, inplace=True)

In [22]:
 df.head()

,state,state_abbreviation_x,county,fips,party,candidate,votes,fraction_votes,area_name,PST045214,...,SBO415207,SBO015207,MAN450207,WTN220207,RTN130207,RTN131207,AFN120207,BPS030214,LND110210,POP060210
0,Alabama,AL,Autauga,1001,Democrat,Bernie Sanders,544,0.182,Autauga County,55395.0,...,0.7,31.7,0.0,0.0,598175.0,12003.0,88157.0,131.0,594.44,91.8
1,Alabama,AL,Autauga,1001,Democrat,Hillary Clinton,2387,0.800,Autauga County,55395.0,...,0.7,31.7,0.0,0.0,598175.0,12003.0,88157.0,131.0,594.44,91.8
2,Alabama,AL,Baldwin,1003,Democrat,Bernie Sanders,2694,0.329,Baldwin County,200111.0,...,1.3,27.3,1410273.0,0.0,2966489.0,17166.0,436955.0,1384.0,1589.78,114.6
3,Alabama,AL,Baldwin,1003,Democrat,Hillary Clinton,5290,0.647,Baldwin County,200111.0,...,1.3,27.3,1410273.0,0.0,2966489.0,17166.0,436955.0,1384.0,1589.78,114.6
4,Alabama,AL,Barbour,1005,Democrat,Bernie Sanders,222,0.078,Barbour County,26887.0,...,0.0,27.0,0.0,0.0,188337.0,6334.0,0.0,8.0,884.88,31.0

In [25]:
df.rename({'state_abbreviation_x': 'state_abbreviation'}, inplace=True)

In [26]:
pd.__version__

u'0.20.1'

In [27]:
county_dict.head()

  column_name                                        description
0   PST045214                          Population, 2014 estimate
1   PST040210          Population, 2010 (April 1) estimates base
2   PST120214  Population, percent change - April 1, 2010 to ...
3   POP010210                                   Population, 2010
4   AGE135214               Persons under 5 years, percent, 2014

In [28]:
county_dict.set_index('column_name',inplace=True)

In [29]:
county_dict.head()

                                                   description
column_name
PST045214                            Population, 2014 estimate
PST040210            Population, 2010 (April 1) estimates base
PST120214    Population, percent change - April 1, 2010 to ...
POP010210                                     Population, 2010
AGE135214                 Persons under 5 years, percent, 2014

In [32]:
county_dict.loc['MAN450207']

description    Manufacturers shipments, 2007 ($1,000)
Name: MAN450207, dtype: object

In [35]:
df.isnull().sum()

state                      0
state_abbreviation_x       0
county                     0
fips                     100
party                      0
candidate                  0
votes                      0
fraction_votes             0
area_name               7132
PST045214               7132
PST040210               7132
PST120214               7132
POP010210               7132
AGE135214               7132
AGE295214               7132
AGE775214               7132
SEX255214               7132
RHI125214               7132
RHI225214               7132
RHI325214               7132
RHI425214               7132
RHI525214               7132
RHI625214               7132
RHI725214               7132
RHI825214               7132
POP715213               7132
POP645213               7132
POP815213               7132
EDU635213               7132
EDU685213               7132
VET605213               7132
LFE305213               7132
HSG010214               7132
HSG445213               7132
HSG096213               7132
HSG495213               7132
HSD410213               7132
HSD310213               7132
INC910213               7132
INC110213               7132
PVY020213               7132
BZA010213               7132
BZA110213               7132
BZA115213               7132
NES010213               7132
SBO001207               7132
SBO315207               7132
SBO115207               7132
SBO215207               7132
SBO515207               7132
SBO415207               7132
SBO015207               7132
MAN450207               7132
WTN220207               7132
RTN130207               7132
RTN131207               7132
AFN120207               7132
BPS030214               7132
LND110210               7132
POP060210               7132
dtype: int64

In [36]:
df.dropna(axis=0, how='any', subset=['fips'], inplace=True)

In [37]:
df[df['fips'].isnull()].head()

Empty DataFrame
Columns: [state, state_abbreviation_x, county, fips, party, candidate, votes, fraction_votes, area_name, PST045214, PST040210, PST120214, POP010210, AGE135214, AGE295214, AGE775214, SEX255214, RHI125214, RHI225214, RHI325214, RHI425214, RHI525214, RHI625214, RHI725214, RHI825214, POP715213, POP645213, POP815213, EDU635213, EDU685213, VET605213, LFE305213, HSG010214, HSG445213, HSG096213, HSG495213, HSD410213, HSD310213, INC910213, INC110213, PVY020213, BZA010213, BZA110213, BZA115213, NES010213, SBO001207, SBO315207, SBO115207, SBO215207, SBO515207, SBO415207, SBO015207, MAN450207, WTN220207, RTN130207, RTN131207, AFN120207, BPS030214, LND110210, POP060210]
Index: []

[0 rows x 60 columns]

In [39]:
df.head(10)

,state,state_abbreviation_x,county,fips,party,candidate,votes,fraction_votes,area_name,PST045214,...,SBO415207,SBO015207,MAN450207,WTN220207,RTN130207,RTN131207,AFN120207,BPS030214,LND110210,POP060210
0,Alabama,AL,Autauga,1001,Democrat,Bernie Sanders,544,0.182,Autauga County,55395.0,...,0.7,31.7,0.0,0.0,598175.0,12003.0,88157.0,131.0,594.44,91.8
1,Alabama,AL,Autauga,1001,Democrat,Hillary Clinton,2387,0.800,Autauga County,55395.0,...,0.7,31.7,0.0,0.0,598175.0,12003.0,88157.0,131.0,594.44,91.8
2,Alabama,AL,Baldwin,1003,Democrat,Bernie Sanders,2694,0.329,Baldwin County,200111.0,...,1.3,27.3,1410273.0,0.0,2966489.0,17166.0,436955.0,1384.0,1589.78,114.6
3,Alabama,AL,Baldwin,1003,Democrat,Hillary Clinton,5290,0.647,Baldwin County,200111.0,...,1.3,27.3,1410273.0,0.0,2966489.0,17166.0,436955.0,1384.0,1589.78,114.6
4,Alabama,AL,Barbour,1005,Democrat,Bernie Sanders,222,0.078,Barbour County,26887.0,...,0.0,27.0,0.0,0.0,188337.0,6334.0,0.0,8.0,884.88,31.0
5,Alabama,AL,Barbour,1005,Democrat,Hillary Clinton,2567,0.906,Barbour County,26887.0,...,0.0,27.0,0.0,0.0,188337.0,6334.0,0.0,8.0,884.88,31.0
6,Alabama,AL,Bibb,1007,Democrat,Bernie Sanders,246,0.197,Bibb County,22506.0,...,0.0,0.0,0.0,0.0,124707.0,5804.0,10757.0,19.0,622.58,36.8
7,Alabama,AL,Bibb,1007,Democrat,Hillary Clinton,942,0.755,Bibb County,22506.0,...,0.0,0.0,0.0,0.0,124707.0,5804.0,10757.0,19.0,622.58,36.8
8,Alabama,AL,Blount,1009,Democrat,Bernie Sanders,395,0.386,Blount County,57719.0,...,0.0,23.2,341544.0,0.0,319700.0,5622.0,20941.0,3.0,644.78,88.9
9,Alabama,AL,Blount,1009,Democrat,Hillary Clinton,564,0.551,Blount County,57719.0,...,0.0,23.2,341544.0,0.0,319700.0,5622.0,20941.0,3.0,644.78,88.9

In [43]:
county_pop_votes=df.groupby('county').agg({'votes' :'sum','PST045214':'max'}).dropna()

In [44]:
county_pop_votes.head()

           votes  PST045214
county
Abbeville   5480    24965.0
Acadia      6629    62486.0
Accomack    6750    33021.0
Ada        57726   426236.0
Adair      12570    25602.0

In [52]:
percentage=(county_pop_votes.votes/county_pop_votes.PST045214)*100

In [53]:
percentage.head()

county
Abbeville    21.950731
Acadia       10.608776
Accomack     20.441537
Ada          13.543201
Adair        49.097727
dtype: float64

In [68]:
percentage2=pd.DataFrame(percentage)
percentage2.head()

                   0
county
Abbeville  21.950731
Acadia     10.608776
Accomack   20.441537
Ada        13.543201
Adair      49.097727

In [65]:
percentage3 = percentage2.value >= 100

AttributeError: 'DataFrame' object has no attribute 'value'

In [63]:
percentage2.head()

                   0
county
Abbeville  21.950731
Acadia     10.608776
Accomack   20.441537
Ada        13.543201
Adair      49.097727

In [76]:
plt.boxplot(df.average_monthly_hours)
plt.show()

NameError: name 'flot' is not defined